/* Estilos Generales */

header, section, footer {
    width: 960px; /* Vista escritorio */
    margin-left: auto;
    margin-right: auto;
}

header, #ImagenPrincipal, #ImagenPresentacion, #TextoPresentacion {
    margin-bottom: 10px;
}

header {
    height: 80px;
    background-color: bisque;
}

footer {
    height: 180px;
    background-color:indianred;
}

#Inicio {
    height: 800px;
    background-color:floralwhite;
}

/* Header Style */

#Marca {
    width: 310px;
    height: 80px;
    background-color: aquamarine;
    float: left;
}

#BotoneraPrincipal {
    width: 630px;
    height: 80px;
    background-color: lightcoral;
    float: right;
}

/* Inicio Style */

#ImagenPrincipal {
    width: 960px;
    height: 250px;
    background-color: darksalmon;
}

#TextoPresentacion {
    width: 470px;
    height: 200px;
    background-color: indianred;
    float: left;
}

#ImagenPresentacion {
    width: 470px;
    height: 200px;
    background-color: brown;
    float: right;
}

/* Medidas Secciones */

#Seccion1, #Seccion4 {
    width: 310px;
    height: 320px;
}

#Seccion2, #Seccion3, #Seccion5, #Seccion6 {
    width: 145px;
    height: 150px;
}

/* Margenes Secciones */

#Seccion1, #Seccion2, #Seccion3, #Seccion5, #Seccion6 {
    float: left;
    margin-right: 15px;
}

#Seccion3, #Seccion6 {
    margin-left: 5px;
}

#Seccion5, #Seccion6 {
    margin-top: 20px;
}

/* Colores Secciones */

#Seccion1 {
    background-color:burlywood;
}

#Seccion2 {
    background-color:blanchedalmond;
}

#Seccion3 {
    background-color: palevioletred;
}

#Seccion4 {
    background-color:lightpink;
    float: right;
}

#Seccion5 {
    background-color: firebrick;
}

#Seccion6 {
    background-color: lightcoral;
}

/* Footer Style */

#Legales, #InfoAdicional {
    width: 480px;
    height: 85px;
    float: left;
}

#Legales {
    background-color: beige;
}

#SocialMedia {
    width: 480px;
    height: 180px;
    background-color: wheat;
    float: right;
}

#InfoAdicional {
    background-color:brown;
    margin-top: 10px;
}