/* p a {
    color: chartreuse;
    text-decoration: none;
    font-size: large;
}
*/

h3 a {
    color: aquamarine;
    text-decoration: double;
}

.destacado_violeta {
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.destacado_rojo {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.botonera_principal {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.boton1 {
    display: inline;
}

.boton1 a{
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: brown;
    margin-bottom: 5px;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

.boton1 a:hover {
    background-color: black;
}